<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css"><link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/33a3ca84a0.js" crossorigin="anonymous"></script>

   
</head>
<body>
         <!--Navabar-->
         <nav class="navbar navbar-expand-lg fixed-top">
          <div class="container-fluid">
            <a class="navbar-logo me-auto" href="{{ url_for('index') }}">Horizon</a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Horizon</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-lg-2" href="#">Reservation</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link mx-lg-2"  href="menu.html">Menu</a>
                    </li>
                  
                  <li class="nav-item">
                      <a class="nav-link mx-lg-2" href="#">Menu Management</a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link mx-lg-2" href="order.html">Order</a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link mx-lg-2" href="#">Inventory</a>
                  </li>
                    
                  <li class="nav-item">
                      <a class="nav-link mx-lg-2" href="#">Kitchen Functions</a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link mx-lg-2" href="#">Report</a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link mx-lg-2" href="#">Payment</a>
                  </li>
                </ul>
              
              </div>
            </div>
            
            <a href="#" class="login-button">Login</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
        <!--Navabar-->
       
        <section class="receipt">
          <div class="container mt-5">
              <h1>Confirmation Page</h1>
              <!-- Display order information in table format -->
              <table class="table table-hover text-center">
                  <thead class="table-dark">
                      <tr>
                          <th scope="col">Item</th>
                          <th scope="col">Price</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Restaurant</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>{{ order_data.main_item.menu_name }}</td>
                          <td>£{{ order_data.main_item.price }}</td>
                          <td>{{ order_data.main_quantity }}</td>
                          <td>{{ order_data.restaurant.restaurant_name }} - {{ order_data.restaurant.restaurant_location }}</td>
                      </tr>
                      <tr>
                          <td>{{ order_data.dessert_item.menu_name }}</td>
                          <td>£{{ order_data.dessert_item.price }}</td>
                          <td>{{ order_data.dessert_quantity }}</td>
                          <td>{{ order_data.restaurant.restaurant_name }} - {{ order_data.restaurant.restaurant_location }}</td>
                      </tr>
                      <tr>
                          <td>{{ order_data.drink_item.menu_name }}</td>
                          <td>£{{ order_data.drink_item.price }}</td>
                          <td>{{ order_data.drink_quantity }}</td>
                          <td>{{ order_data.restaurant.restaurant_name }} - {{ order_data.restaurant.restaurant_location }}</td>
                      </tr>
                  </tbody>
              </table>
              <p>Total Price: £{{ order_data.total_price }}</p>
              <!-- Form to send order data back to the order page -->
              <form id="returnOrderForm" action="{{ url_for('edit_order') }}" method="post">
                  <input type="hidden" name="main_item" value="{{ order_data.main_item.menu_name }}">
                  <input type="hidden" name="main_quantity" value="{{ order_data.main_quantity }}">
                  <input type="hidden" name="dessert_item" value="{{ order_data.dessert_item.menu_name }}">
                  <input type="hidden" name="dessert_quantity" value="{{ order_data.dessert_quantity }}">
                  <input type="hidden" name="drink_item" value="{{ order_data.drink_item.menu_name }}">
                  <input type="hidden" name="drink_quantity" value="{{ order_data.drink_quantity }}">
                  <input class="btn21" type="submit" value="Edit Order">
                  <a class="btn11" href="{{ url_for('index') }}">Cancel Order</a>
                  <input class="btn31" type="submit" formaction="{{ url_for('payment') }}" value="Proceed to Payment">
              </form>
          </div>
      </section>
      

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>