
<!DOCTYPE html>
<html lang="en">
    <html lang="en">
        <head>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../static/CSS/style.css"><link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
            <link rel="stylesheet" href="../static/CSS/style.css">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <script src="https://kit.fontawesome.com/33a3ca84a0.js" crossorigin="anonymous"></script>
        
           
        </head>
<body>
    {% include 'navbar.html' %}
    <section class="edit-reservation edit-menu-item">
        <div class="container">
            <h2 class="edit-menu-item__title">Edit Reservation</h2>
            <form method="POST" class="edit-menu-item__form">

            
            <!-- Restaurant Dropdown -->
            <div class="form-group">
                <label for="restaurant" class="form-label">Restaurant</label>
                <select class="form-control" id="restaurant" name="branch_id">
                    <option value="none">Select a Restaurant</option>
                    {% for restaurant in restaurants %}
                        <option value="{{ restaurant }}" {% if reservation_data.restaurant_name == restaurant %} selected {% endif %}>{{ restaurant }}</option>
                    {% endfor %}
                </select>
            </div>

          
            <!-- Customer Name Dropdown -->
            <div class="form-group">
                <label for="customer_name" class="form-label">Customer Name</label>
                <select class="form-control" id="customer_name" name="customer_name">
                    <option value="none">Select a Customer</option>
                    {% for customer in customers %}
                        <option value="{{ customer }}" {% if reservation_data.customer_name == customer %} selected {% endif %}>{{ customer }}</option>
                    {% endfor %}
                </select>                
            </div>

            <!-- Reservation Date -->
            <div class="form-group">
                <label for="reservation_date" class="form-label">Reservation Date</label>
                <input type="datetime-local" class="form-control" id="reservation_date" name="reservation_date" value="{{ reservation_data.formatted_reservation_datetime }}" required>
            </div>



            <!-- Reservation Type Dropdown -->
            <div class="form-group">
                <label for="reservation_type" class="form-label">Reservation Type</label>
                <select class="form-control" id="reservation_type" name="reservation_type">
                    <option value="Standard" {% if reservation_data.reservation_type == 'Standard' %} selected {% endif %}>Standard</option>
                    <option value="Wedding" {% if reservation_data.reservation_type == 'Wedding' %} selected {% endif %}>Wedding</option>
                    <option value="Birthday" {% if reservation_data.reservation_type == 'Birthday' %} selected {% endif %}>Birthday</option>
                </select>
            </div>

            <!-- Number of Guests -->
            <div class="form-group">
                <label for="number_of_guests" class="form-label">Number of Guests</label>
                <input type="number" class="form-control" id="number_of_guests" name="number_of_guests" value="{{ reservation_data.number_of_guests }}" required>
            </div>

                
                
                <!-- Submit Button -->
                <button type="submit" class="edit-menu-item__btn">Book Reservation</button>
            </form>
        </div>
    </section>
    
    
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>